:root {
  --gutter-width: 1rem;
  --outer-margin: 2rem;
  --gutter-compensation: calc((var(--gutter-width) * 0.5) * -1);
  --half-gutter-width: calc((var(--gutter-width) * 0.5));
  --xs-min: 30;
  --sm-min: 48;
  --md-min: 64;
  --lg-min: 75;
  --screen-xs-min: var(--xs-min) em;
  --screen-sm-min: var(--sm-min) em;
  --screen-md-min: var(--md-min) em;
  --screen-lg-min: var(--lg-min) em;
  --container-sm: calc(var(--sm-min) + var(--gutter-width));
  --container-md: calc(var(--md-min) + var(--gutter-width));
  --container-lg: calc(var(--lg-min) + var(--gutter-width));
  --border-radius: 6px;
  --container-border-radius: 25px;
}

ul.nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

ul.nav li {
  margin: 10px;
}

ul.nav li button {
  display: flex;
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #ffffff;
  -moz-border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  border-radius: var(--border-radius);
  border: 1px solid #dcdcdc;
  cursor: pointer;
  color: #666666;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  font-weight: bold;
}

ul.nav li button:hover {
  background-color: #f6f6f6;
}

ul.nav li button:active {
  position: relative;
  top: 1px;
}

.App {
  max-width: 1000px;
}

.App .container {
  border: solid 15px #2b4870;
  border-radius: var(--container-border-radius);
}

.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: var(--outer-margin, 2rem);
  padding-left: var(--outer-margin, 2rem);
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: var(--gutter-compensation, -0.5rem);
  margin-left: var(--gutter-compensation, -0.5rem);
}

.video-container,
.text-container {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: var(--half-gutter-width, 0.5rem);
  padding-left: var(--half-gutter-width, 0.5rem);
  flex-basis: 100%;
  max-width: 100%;

  line-height: 1.5;
  padding: 15px;
}

.video-container {
  position: relative;
}

.video-container video {
  width: 100% !important;
  height: auto !important;
  display: block;
  width: 400px;
  height: 300px;
}

.video-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/background.jpg) center center no-repeat;
  background-size: contain;
}

.nav-container {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: var(--half-gutter-width, 0.5rem);
  padding-left: var(--half-gutter-width, 0.5rem);
  flex-basis: 100%;
  max-width: 100%;
  border-top: solid 1px #2b4870;
  background: #feffff;
  background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 50%, #a0d8ef 100%);
  background: -webkit-linear-gradient(
    top,
    #feffff 0%,
    #ddf1f9 50%,
    #a0d8ef 100%
  );
  background: linear-gradient(to bottom, #feffff 0%, #ddf1f9 50%, #a0d8ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 );
}

@media only screen and (min-width: 48em) {
  .video-container {
    flex-basis: 60%;
    max-width: 60%;
  }
  .text-container {
    flex-basis: 40%;
    max-width: 40%;
    border-left: solid 2px #2b4870;
    background: -moz-linear-gradient(
      left,
      rgba(229, 229, 229, 1) 0%,
      rgba(255, 255, 255, 0.76) 24%,
      rgba(255, 255, 255, 0) 100%
    );
    background: -webkit-linear-gradient(
      left,
      rgba(229, 229, 229, 1) 0%,
      rgba(255, 255, 255, 0.76) 24%,
      rgba(255, 255, 255, 0) 100%
    );
    background: linear-gradient(
      to right,
      rgba(229, 229, 229, 1) 0%,
      rgba(255, 255, 255, 0.76) 24%,
      rgba(255, 255, 255, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#00ffffff',GradientType=1 );
  }
}

.text-change {
  opacity: 0.01;
}

.text-change.text-change-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
